@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #1A1A19;
    --sidebar-color: #31511E;
    --primary-color: #859F3D;
    --primary-color-light: #A6AEBF;
    --toggle-color: #D4F6FF;
    --text-color: #FBFBFB;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
    --button: #AF1740;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.5s ease-in-out;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--body-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr;
}

body.light{
    --body-color: #C6E7FF;
    --sidebar-color: #D4F6FF;
    --primary-color: #a3a8ae;
    --primary-color-light: #91bad8;
    --toggle-color: #73a5c6;
    --text-color: #707070;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
}
