@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #1A1A19;
    --sidebar-color: #31511E;
    --primary-color: #859F3D;
    --primary-color-light: #A6AEBF;
    --toggle-color: #D4F6FF;
    --text-color: #FBFBFB;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
    --button: #AF1740;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.5s ease-in-out;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--body-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr;
}

body.light{
    --body-color: #C6E7FF;
    --sidebar-color: #D4F6FF;
    --primary-color: #a3a8ae;
    --primary-color-light: #91bad8;
    --toggle-color: #73a5c6;
    --text-color: #707070;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    background: var(--sidebar-color);
    width: 250px;
    padding: 5px 1em;
    border-right: 1px solid var(--primary-color);
    position: sticky;
    top: 0;
    align-self: start;
    transition: var(--tran-06);
    overflow: hidden;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active a{
    color: var(--text-color);

    svg{
        fill: var(--text-color);
    }
}


#sidebar a,#sidebar .dropdown-btn,#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-color);
}

#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--primary-color-light);
}

#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--tran-06);

    > div{
        overflow: hidden;
    }
}

#sidebar .sub-menu.show{    
    grid-template-rows: 1fr;
}

.dropdown-btn svg{
    transition: var(--tran-02);
}

.rotate svg:last-child{
    rotate: 180deg;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover{
    background-color: var(--primary-color-light);
}

/* home */
/* 
.home{
    display: grid;
    position: relative;
    grid-template-columns: 1.9fr 1.9fr;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 0.05fr;
    grid-template-areas: 
    "text text"
    "visualizer visualizer"
    "code console"
    "footer footer";
    gap: 0.05rem;
    height: 100vh;
    left: 260px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
/* 
.home .text{
    grid-area: text;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.home .visualizer{
    grid-area: visualizer;
    background: var(--console-block);
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 200;
}

.home .console{
    grid-area: console;
    background: var(--console-block);
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 200;
}

.home .code{
    grid-area: code;
    background: var(--console-block);
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 200;   
}

.home .footer{
    grid-area: footer;
}

.home .visualizer .progress{
    display: grid;
    position: absolute;
    border: none;
    border-radius: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 10px;
    border: 2px solid var(--body-color);
    background: var(--body-color);
    height: 50px;
    width: 180px;
} 

.home .visualizer .progress .progress-btn {
    display: grid;
    position: relative;
    border: 2px solid var(--sidebar-color);
    border-radius: 30px;
    background: var(--primary-color);
    color: var(--text-color);
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

.home .visualizer .progress .progress-btn:hover{
    background: var(--console-block);
    transition: var(--tran-02);
    box-shadow: 1px 1px 5px var(--primary-color);
}

.home .visualizer .progress .progress-btn:active{
    background: var(--button);
} */
