*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #192021;
    color: #333;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.light{
    --body-color: #9db7cf;
    --sidebar-color: #d8e6e1;
    --primary-color: #a3a8ae;
    --primary-color-light: #7eabd9;
    --toggle-color: #73a5c6;
    --text-color: #223148;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
}

:root{
    --body-color: #1A1A19;
    --sidebar-color: #1A120B;
    --sidebar-color2: #3C2A21;
    --primary-color: #E5E5CB;
    --primary-color2: #D5CEA3;
    --primary-color-light: #A6AEBF;
    --toggle-color: #D4F6FF;
    --text-color: #FBFBFB;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/* ------------------ scroll bar -------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*---------------- Side Bar --------------------------*/
/* Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 12px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 0px;
    background: var(--body-color);
    padding: 0;
    /* display: none; */
}

/* Adjustable CSS */

.sidebar .text{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-01);
    /* white-space: nowrap; */
    opacity: 1;
}


.sidebar.close .text{
    opacity: 0;
    display: none;
}

.sidebar .menu-bar .menu{
    
    display: flex;
    flex-direction: column;
}

.sidebar .image{
    min-width: 60px;
    /* display: flex; */
    align-items: center;
}

.sidebar.close .image{
    min-width: 60px;
    /* display: flex; */
    align-items: center;
    opacity: 0;
    /* display: none; */
}

.sidebar li{
    height: 40px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar.close li{
    display: none;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    font-size: 20px;
    list-style: none;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 60px;
    height: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .image-text .header-text{
    display: flex;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 35px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}


.sidebar.close header .toggle{
    /* transform: translateY(-50%); */
    top: 30px;
    right: -60px;
    /* position: absolute; */
    display: block;
    align-content: center;
    text-align: center;
    height: 40px;
    width: 50px;
    font-size: 40px;
}

body.light .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}

.sidebar input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar.close input{
    display: none;
    overflow: none;
}

.sidebar li a{
    height: 100%;
    width: 88%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:active{
    background: var(--body-color);
}

/* .sidebar li a:active{
    background: var(--console-block);
} */

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.light .sidebar li a:hover .icon,
body.light .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 85px);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* item for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    /* justify-content: flex-start; */
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    /* border: 2px solid var(--primary-color); */
    /* gap: 2px; */
    /* display: block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sidebar-color);
    min-width: 237px;
    left: 230px;
    padding: 0 1px 0 1px;
    border-radius: 7px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sidebar.close .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sidebar-color);
    min-width: 237px;
    left: 62px;
    padding: 0 1px 0 1px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-color);
}

/* mode setup and all*/

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.light .menu-bar .mode i.sun{
    opacity: 1;
}

body.light .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 65px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
}

body.light .switch::before{
    left: 24px;
}

/*--------page content setting------------*/
.page-content{
    position: relative;
    display: grid;
    grid-template-rows: 30px 1.67fr 1.4fr 0.5fr;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*------------slide------------*/
.slide-container{
    position: relative;
    grid-row: 2;
    left: 20px;
    top: 20px;
    width: 1220px;
    height: 700px;
    border: 3px solid #1c2c2e;
    border-radius: 4px;
    box-shadow: 0 0 8px 2px rgba(255,255,0,0.2);
}

.slide-container .slides{
    display: grid;
    width: 100%;
    height: 100%;
    /* height: calc(100% - 40px); */
    position: relative;
    overflow: hidden;
}

.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: gray;
    font-size: 24px;
    font-weight: bold;
    transition: .5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{
    right: 20px;
}

span.prev{
    left: 20px;
}

span.next:hover, span.prev:hover{
    background-color: gray;
    opacity: 0.8;
    color: white;
}

.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid darkgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.dotsContainer .active{
    background-color: #888;
}

@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

/*---------- get started button -----------------*/
.get-started{
    position: absolute;
    bottom: -102px;
    display: block;
    border: 2px solid #32b8c6;
    border-radius: 8px;
    background-color: #32b8c6;
    width: fit-content;
    padding: 5px 5px;
    left: 430px;
    z-index: 1;
}

.get-started a{
    text-decoration: none;
    font-size: 40px;
    color: #121212;
}

.get-started:hover{
    background-color: #121212;
}

.get-started a:hover{
    color: #32b8c6;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #121212;
    margin: 2em 0;
    padding: 0;
    opacity: 1;
}

/*------------lower part---------------*/
.lower-part{
    display: grid;
    grid-row: 3;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0 70px;
}

.intro-block{
    display: grid;
    position: relative;
    grid-column: 1;
}
.intro-block p{
    background-color: #3a3f4dfd;
    margin: 10px; /*padding luar*/
    border-radius: 15px;
    grid-column: 1;
    padding: 1rem ;
    font-size: 20px;
    width: 700px;
    height: 1fr;

}

.name-block{
    position: relative;
    grid-column: span 2;
    display: grid;
    align-items: center;
}

.name-block .algo{
    grid-column: 2;
}

.name-block .vision{
    grid-column: 3;
}

/* .algo h1, .vision h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: relative;
    color: white;
    -webkit-text-stroke: 3px grey;
} */

.name-block span{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 800;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #b1e0e5;
    -webkit-text-stroke: 3px #73a5c6;
}
/* .vision h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 800;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #b1e0e5;
    -webkit-text-stroke: 3px #73a5c6;
} */

/*---------footer-------------*/
.footer{
    grid-row: 4;
    display: block;
    background-color: #1c2c2e;
    color: #b1e0e5;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer h1{
    position: relative;
    width: fit-content;
    display: inline-block;
}

.footer .contributer-names{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.footer .contributer-names .nama{
    flex-direction: column;
}

.footer .contributer-names img{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
<<<<<<< HEAD
=======

.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top span{
    grid-column: 2;
    padding: 0 50px;
    width: fit-content;
    font-size: 45px;
    color: #32b8c6;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
/* set content width based on screen size*/
@media only screen and (min-width: 1400px) {    
    body, .page-content{
        max-width: 100%;
    }
    .page-content{
        grid-template-rows: 30px 1.7fr 1.4fr 0.5fr;
    }
    .slide-container{
        width: 1860px
    }
    .lower-part{
        grid-template-columns: 3fr 1fr 1fr;
        margin: 0 100px;
    }
    .lower-part .intro-block p{
        width: 900px;
        padding: 30px;
    }
}
>>>>>>> ccf74b05c1ef90df833f659a9b005b52b04031e9
