@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #1A1A19;
    --sidebar-color: #31511E;
    --primary-color: #859F3D;
    --primary-color-light: #A6AEBF;
    --toggle-color: #D4F6FF;
    --text-color: #FBFBFB;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
    --button: #AF1740;

    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}

body.light{
    --body-color: #9db7cf;
    --sidebar-color: #d8e6e1;
    --primary-color: #a3a8ae;
    --primary-color-light: #7eabd9;
    --toggle-color: #73a5c6;
    --text-color: #223148;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
}

/* Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 12px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

/* Adjustable CSS */

.sidebar .text{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-01);
    /* white-space: nowrap; */
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
    display: none;
}

.sidebar .menu-bar .menu{
    display: flex;
    flex-direction: column;
}

.sidebar .image{
    min-width: 60px;
    /* display: flex; */
    align-items: center;
}

.sidebar li{
    height: 40px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    font-size: 20px;
    list-style: none;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 60px;
    height: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .image-text .header-text{
    display: flex;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.light .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}

.sidebar input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar.close input{
    display: none;
    overflow: none;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:active{
    background: var(--body-color);
}

/* .sidebar li a:active{
    background: var(--console-block);
} */

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.light .sidebar li a:hover .icon,
body.light .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* item for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    /* justify-content: flex-start; */
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    /* border: 2px solid var(--primary-color); */
    /* gap: 2px; */
    /* display: block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sidebar-color);
    min-width: 237px;
    left: 230px;
    padding: 0 1px 0 1px;
    border-radius: 7px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sidebar.close .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sidebar-color);
    min-width: 237px;
    left: 62px;
    padding: 0 1px 0 1px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-color);
}

/* mode setup and all*/

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.light .menu-bar .mode i.sun{
    opacity: 1;
}

body.light .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 65px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
}

body.light .switch::before{
    left: 24px;
}

.home{
    display: grid;
    position: relative;
    grid-template-columns: 1.9fr 1.9fr;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 0.05fr;
    grid-template-areas: 
    "text text"
    "visualizer visualizer"
    "code console"
    "footer footer";
    gap: 0.05rem;
    height: 100vh;
    /* margin: 5px; */
    padding: 0 3px 0 3px ;
    left: 260px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    grid-area: text;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.home .visualizer{
    grid-area: visualizer;
    background: var(--console-block);
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 13px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 500;
}

.home .console{
    grid-area: console;
    background: var(--console-block);
    text-align: center;
    margin: 13px;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 400;
}

.home .code{
    grid-area: code;
    background: var(--console-block);
    text-align: center;
    margin: 13px;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    color: var(--console-text);
    font-weight: 400;   
}

.home .footer{
    grid-area: footer;
}

.home .visualizer .progress{
    display: grid;
    position: absolute;
    border: none;
    border-radius: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    top: -68px;
    border: 2px solid var(--body-color);
    background: var(--console-block);
    height: 50px;
    width: 180px;
    right: 60px;
    z-index: 10;
} 

.home .visualizer .progress .progress-btn {
    display: grid;
    position: relative;
    border: 2px solid var(--sidebar-color);
    border-radius: 30px;
    background: var(--primary-color);
    color: var(--text-color);
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

.home .visualizer .progress .progress-btn:hover{
    background: var(--console-block);
    transition: var(--tran-02);
    box-shadow: 1px 1px 5px var(--primary-color);
}

.home .visualizer .progress .progress-btn:active{
    background: var(--button);
}

.home .visualizer .algo-container{
    /* display: flex; */
    position: relative;
    width: 97%;
    height: 95%;
    /* top: 20px; */
    margin: 15px;
    /* padding: 10px; */
    background: black;
    border-radius: 15px;
    z-index: 1;
}

.home .console .console-block{
    position: relative;
    width: 94%;
    height: 85%;
    margin: 15px;
    background: black;
    border-radius: 15px;
    z-index: 1;
}

.home .code .code-block{
    position: relative;
    width: 94%;
    height: 85%;
    margin: 15px;
    background: black;
    border-radius: 15px;
    z-index: 1;
}

/* description box */

/* .info-tab{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    color: red;
    z-index: 20;
} */