@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #1A1A19;
    --sidebar-color: #31511E;
    --primary-color: #859F3D;
    --primary-color-light: #A6AEBF;
    --toggle-color: #D4F6FF;
    --text-color: #FBFBFB;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}

body.light{
    --body-color: #C6E7FF;
    --sidebar-color: #D4F6FF;
    --primary-color: #a3a8ae;
    --primary-color-light: #91bad8;
    --toggle-color: #73a5c6;
    --text-color: #707070;
    --console-text: #FAF0E6;
    --console-block: #3C3D37;
}

/* Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

/* Adjustable CSS */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 50px;
    height: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.light .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}

.sidebar input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.light .sidebar li a:hover .icon,
body.light .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.light .menu-bar .mode i.sun{
    opacity: 1;
}

body.light .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
}

body.light .switch::before{
    left: 24px;
}

.home{
    display: grid;
    position: relative;
    grid-template-columns: 1.9fr 1.9fr;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 0.05fr;
    grid-template-areas: 
    "text text"
    "visualizer visualizer"
    "code console"
    "footer footer";
    gap: 0.1rem;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    justify-content: space-evenly;
    align-content: space-evenly;
}

.home .text{
    grid-area: text;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.home .visualizer{
    grid-area: visualizer;
    background: var(--console-block);
    text-align: center;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    color: var(--console-text);
    font-weight: 200;
}

.home .console{
    grid-area: console;
    background: var(--console-block);
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    color: var(--console-text);
    font-weight: 200;
}

.home .code{
    grid-area: code;
    background: var(--console-block);
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    color: var(--console-text);
    font-weight: 200;   
}

.home .footer{
    grid-area: footer;
}

